# Proyect
/vendor/
/composer.lock
/framework.log

# OSX
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-v100
.Trashes
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
Thumbs.db
ehthumbs.db
*.cab
*.msi
*.msm
*.msp
*.lnk

# Linux
*~
.directory
.Trash-*
