# Project
/vendor/

# Idea files
.idea/
.phpstorm.meta.php

# Test files
resources/
src/ZCode/Lighting/Demo
.htaccess
index.php
framework.conf
app.log

# build
!build/phpmd.xml
!build/phpunit.xml
!build/phpdox.xml
build/*
